
    body
     { font-family: Arial, sans-serif; margin: 0; padding: 0; }

    header { 
        background: bisque; 
        padding: 40px; 
        text-align: center;
height: 100px;
align-items: center;

    }
    header p { margin: 10px 0; font-size: 1.2rem;
    }
    .menu {
      position: absolute;
      top: 60px;
      right: 30px;
      display: flex;
      gap: 20px;
    }

    .menu a {
      text-decoration: none;
      padding: 10px 18px;
      color: white;
      transition: 0.3s;
    }

    .btn { background: orange; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 5px; }
.btn:hover {
    background-color: darkorange;
}

    .aboutme {
    background-color: lightblue;
    padding: 100px 35px;
    display: flex;
    justify-content: center;
}
.abouttext{
    text-align: left;
    font-size: 40px;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    height: 500px;
}
.pic{
    display: flex;
    justify-content: center;
    background-color: lightblue;
    gap: 15px;
  padding-bottom: 40px;
}
.pic img{
    border-radius: 50%;
width: 150px;
height: 150px;
object-fit: cover;
display: block;

}
    #section { 
        background: url(bg2.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        margin: auto;
      height: 900px;
      
      }
    
    .box { 
    
      display: flex;
      flex-direction: row;
align-items: center;
       height: 350px;
    }
    
    .product-card { 
      padding-top: 200px; 
      padding-left: 200px;
      
      text-align: center; border-radius: 8px; 
    gap: 20px;}

.vid{
   width: 100%;
justify-content: center;
display: flex;
flex-direction: column;
padding: 20px;
box-sizing: border-box;
align-items: center;
}
  
    .testimonials,
     .why-us {
      text-align: center;
       background-color: bisque;
        padding: 40px 20px; }
        .b{
  width: 300px;
  height: 200px;
  background-color: lightblue;
  border-radius: 10px;
  
}
@media (min-width: 768px) {
.container {
    display: flex;        
    gap: 20px;          
    padding: 20px;
}
}
.column {
    flex: 1;              
    padding: 20px;
    background: lightcoral;
    
}

.reg {
 width: 500px;
 background: #fff;
 margin: 40px auto;
padding: 25px;
border-radius: 12px;
box-shadow: 0 0 20px bisque;
}

.heading {
 text-align: center;
margin-bottom: 20px;
 color: #d46f7e;
 font-size: 40px;
 }
 label {
 font-weight: bold;
 margin-bottom: 5px;
 display: block;
color: #333; }

input, text{
 width: 100%;
padding: 10px;
 margin-bottom: 15px;
 border-radius: 6px;
border: 1px solid #d5caca;
 outline: none;
  height: 20px;
 }

button {
   width: 100%;
  padding: 12px;
 background: #d46f7e;
 border: none;
 color: white;
 font-size: 16px;
border-radius: 6px;
cursor: pointer; }

    footer { background: pink; color: #fff; text-align: center; padding: 20px; margin-top: 40px; }
    footer a { color: #fff; text-decoration: none; }
    

